@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";


body {
  background-color: antiquewhite;
  color: brown;
  text-align: center;
  margin-top: 100px;
}

#welcome-page {
  position: fixed;
  left: 30%;
  top: 30%;
}

#google-auth {
  margin-top: 30px;
}

#navbar {
  position: absolute;
  top: 0px;
  width: 100%;
}

#logout-button {
  position: fixed;
  right: 50px;
}

#google-login-auth {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: medium;
  height: 25px;
}

#filter-buttons {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

#vocab-display {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 33%;
}

#vocab-card {
  margin: 5px 5px;
}

#form-display {
  width: 40%;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
}

#submit-button {
  margin-top: 10px;
}
